APScheduler==3.9.1
beautifulsoup4==4.12.0
bert_for_tf2==0.14.9
ctranslate2==2.17.0
expiringdict==1.2.1
Flask==2.1.1
Flask_Limiter==2.4.5.1
fugashi==1.1.2
hangul_korean==1.0rc2
indic_nlp_library==0.81
indicnlp==0.0.1
jieba==0.42.1
langid==1.1.6
lxml==4.8.0
nltk==3.7
numpy==1.19.5
packaging==21.3
parameterized==0.8.1
pdfminer==20191125
pdfminer.six==20220319
PyArabic==0.6.15
pysbd==0.3.4
pytest==7.1.3
pythainlp==3.0.8
python_docx==0.8.11
python_pptx==0.6.21
pyvi==0.1.1
pywin32==303
PyYAML==6.0
regex==2022.4.24
reportlab==3.6.9
requests==2.27.1
rouge==1.0.1
sacrebleu==2.0.0
scipy==1.8.0
sentence_splitter==1.4
sentencepiece==0.1.96
setuptools==62.1.0
tensorflow_addons==0.16.1
tensorflow_gpu==2.6.3
tensorflow_hub==0.12.0
tqdm==4.64.0
Werkzeug==2.1.1
wget==3.2
zhconv==1.4.3
