body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: PingFangSC-Semibold,"Microsoft YaHei",Arial,sans-serif,Helvetica,STHeiti;
    color: rgb(40, 5, 5);
    letter-spacing: 0;
    color: #460a0a;
    background-color: #fff;
    min-width: 1060px;

    text-align: center;

}

.fanyi__nav__logo {
    display: block;
    position:absolute;
    left: 28px;
    width: 340px;
    height: 72px;
    background: url(../static/img/nav.jpg) 50% 50% no-repeat
}

.fanyi__nav__container {
    position: relative;
    margin: 0 auto;
    min-width: 960px;
    max-width: 1510px;
}

.fanyi__nav {
    position: relative;
    height: 72px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    min-width: 960px;
    margin-bottom: 38px
}

.nav_left{
    position:absolute;
    height: 72px;
    vertical-align: middle;
    padding-top: 30px;
    right: 58px;
}


.url_setting_block{
    display: block;
}

.restriction{
    margin-left: 60px;
    margin-right: 60px;
}

.fanyi__operations {
    font-family: PingFang-SC-Regular;
    height: 38px;
    margin: 0 60px 18px 60px;
    margin:auto;
    max-width: 1400px;
    margin-bottom: 18px;
}

.fanyi__operations--left {
    float: left;
    font-size: 0;
    letter-spacing: 0;
    position: relative;
    z-index: 2
}

.target_select{
    position: relative;
    margin-left: 20px;
}

.source_select{
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    text-align: center;
    width: 148px;
    height: 38px;
    line-height: 38px;
    background: #ffffff;
    border-radius: 3px;
    font-size: 14px;
    color: rgb(39, 39, 39);
    cursor:pointer;
}

.target_select{
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    text-align: center;
    width: 148px;
    height: 38px;
    line-height: 38px;
    background: #ffffff;
    border-radius: 3px;
    font-size: 14px;
    color: rgb(39, 39, 39);
    cursor:pointer;
}

.fanyi__operations--left .lang-select:hover .select-text {
    color: #357aa1
}

.mid{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-align: center;
    width: 8x;
    height: 38px;
    line-height: 38px;
    background: #ffffff;
    font-size: 19px;
    color: #357aa1;
    z-index: 2
}

.fanyi__operations--machine {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    text-align: center;
    width: 138px;
    height: 38px;
    background: #357aa1;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    border:none;
    cursor:pointer;
}

.fanyi__operations--machine:hover {
    background: #205472
}

.fanyi__input {
    position: relative;
    margin: 0 60px;
    margin-top: 18px; 
    margin:auto;
    max-width: 1400px;
    font-size: 0
}

.fanyi__input_file {
    position: relative;
    margin: 0 60px;
    margin-top: 18px; 
    margin-bottom: 15px;
    margin:auto;
    max-width: 1400px;
    min-width: 960px;
    font-size: 0
}

.fanyi__input__bg {
    background: #f2f2f2;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 58px;
    padding: 18px 50px 18px 18px;
    border: 1px solid transparent
}

.input__original,.input__target {
    position: relative;
    display: inline-block;
    width: 49.999999%;
    font-size: 14px;
    vertical-align: top
    
}

.input__original__area {
    display: block;
    font-family: ArialMT,"Microsoft YaHei",Arial,sans-serif,Helvetica,STHeiti;
    width: 100%;
    height: 220px;
    min-height: 156px;
    padding: 20;
    border: none;
    resize: none;
    outline:none;
    background: #f2f2f2;
    font-size: 24px;
    color: #333;
    line-height: 30px;

    overflow: auto;
}

.input__original__area--focus {
    border: 1px solid #0e7dff;

}

.input__original__area::placeholder {
    font-family: Arial-BoldMT;
    font-size: 24px;
    color: rgba(102,102,102,.3)
}

.input__original_file {
    display: inline-block;
    background: #ebebeb;
    width: 99.999999%;
    font-size: 14px;
    vertical-align: top;
    border: none;
    border-radius: 3px;
    z-index: 1;
}

.input__target__area {
    display: block;
    font-family: ArialMT,"Microsoft YaHei",Arial,sans-serif,Helvetica,STHeiti;
    width: 100%;
    height: 220px;
    min-height: 156px;
    padding: 20;
    border: none;
    resize: none;
    outline:none;
    background: #f2f2f2;
    font-size: 24px;
    color: #333;
    line-height: 30px;
    overflow: auto
}

.fanyi__operations--file{
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    text-align: center;
    width: 128px;
    height: 34px;

    background: #ffffff;
    border-radius: 0px;
    border: none;
    font-size: 14px;
    color: rgb(49, 49, 49)
}

.fanyi__operations--file{
    position: absolute;
    bottom: 78px;
    left: 30px;
    z-index: 2;
    cursor:pointer;
}

.input__target__text span.hover {
    background: #cfe5ff;
    border-radius: 1px
}

.input__original__area:focus {
    border: none
}

.input__original__area:focus {
    border: none
}

.input_area_file{
    position: relative;
    height: 180px;
    margin-top: 18px;
    background: #ebebeb;
    z-index: 0;
}

.select_file{
    opacity:0;/*透明关键*/
    position: absolute;
    height: 200px;
    width:100%;
    top:0px;
    left: 0px;
    background: #dc0000;
    font-size: 14px;
    color: #fff;
    border:none;
    cursor: pointer;
    z-index: 1;
}
.progress_line{
    display: none;
    margin-left: 20%;
    height: 40px;
    width:60%;
    color: #357aa1;
    z-index: 5;
}
.inside__products{
    display: none;
    font-family: PingFangSC-Semibold;
    border-top: 1px solid #e8e8e8;
    padding-top: 130px;
    padding-bottom: 130px;
    margin:auto;
    max-width: 1400px;

    font-size: 32px;
    text-align: center;
    color: #999;
    min-width: 760px
}

.fanyi__footer {
    display: block;
    font-family: PingFangSC-Semibold;
    border-top: 1px solid #e8e8e8;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: #999;
    min-width: 960px
}

.bottom__nav{
    display: none;
    font-family: PingFangSC-Semibold;
   
    font-size: 14px;
    text-align: center;
    color: #999;
    min-width: 960px;
}

.nav{
    font-size: 14px;
    text-decoration:none;
    color: #999;
    white-space:pre;
    margin-left: 22px;
    cursor: pointer;
}

.nav2{
    font-size: 14px;
    text-decoration:none;
    color: #999;
    white-space:pre;
    margin-left: 11px;
    margin-right: 11px;
}

.inside__products{
    display: none;
    font-family: PingFangSC-Semibold;
    border-top: 1px solid #e8e8e8;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
    color: #999;
    min-width: 760px
}

.product1_area{
    position: relative;
    margin: 0 0px;
    height: 140px;
    background-color: #357aa1;
}

.product1_image{
    display: block;
    height: 100%;
    width: auto;
    margin:auto;
    background: #2c1600;
    
    background-image:url(../static/img/ad1.png) ;
    background-repeat:no-repeat;
    background-position:center;
}

.product2_area{
    position: relative;
    margin: 0 0px;
    margin-top: 30px;
    height: 140px;
    background-color: #ffffff;
}

.product21_area{
    position: relative;
    float: left;
    display: block;
    height: 100%;
    width: 48%;
    background: #ffffff;
    
    background-repeat:no-repeat;
    background-position:center;
}

.product22_area{
    position: relative;
    float: right;
    display: block;
    height: 100%;
    width: 48%;
    background: #ffffff;
    background-repeat:no-repeat;
    background-position:center;
}

.product21_image{
    float: left;
    position: absolute;
    top:16px;
    bottom: 16px;
    left: 16px;
    width: 100px;
    background-color: #ffffff;
    background-image:url(../static/img/ad2.png) ;
    background-repeat:no-repeat;
    background-size:100% 100%;/*图像布满关键*/
}

.product2_head{
    position: absolute;
    left:132px;
    top:26px;
    text-align: left;
    font-size: 19px;
    font-weight:bold;
    color: rgb(0, 0, 0);
}

.product2_text{
    position: absolute;
    left:132px;
    top:70px;
    padding-right: 20px;
    text-align: left;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.product22_image{
    float: left;
    position: absolute;
    top:16px;
    bottom: 16px;
    left: 16px;
    width: 100px;
    background-image:url(../static/img/ad3.png) ;
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;/*图像布满关键*/
}

.input__original_delete{
   
    position: absolute;
    width: 18px;
    height: 18px;
    top: 18px;
    right: 18px;
    visibility: hidden;
    cursor:pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAYNJREFUOBGtk72qwkAQhU9iVIw/vbXiIwQEtbHSyncVC60C+gD2voCGQNAmiGK8Z2CWbO4KFg5I4uzsxzkzE+92uxX4Qfg/YAjCgIqiQJZlX3Efjwf+nFi1AiIkjmOs12ucz2eroPqHkN1uh81mg+v1ao4F5Hke6vU6ns+nFF0uF1NQflEIz2u1mvz03FibTCYYjUYC2263qMII0Xyn08FyuQSfGgbExCeYKkmSRC4vFgsLwruea/z7/R6n0wlBEGA+n+N4PIpCKiCk2+3yrhVOECsUxv5xGO12W+y4IKy3rDGhMR6P0Wq1BEJYFEVOJVrvBHF6bGye52KPig6HA9ijT/EPpBBOjXZWqxWGwyF0ap9gFqi8R4Swsb1eD7PZzIJVV4MqDUgh3OwyRK2UYdzsKkxAr9dLNpqQMAyNEoXoczqdYjAYiE3C0jTVIwR8830f/X5fPkRuLO24gtOjMgY/8PIqWHt0v9/RbDZdDCvHKbL5jUbD5E2PmPkGwjoqK0OYewPmV+Tmqat5EwAAAABJRU5ErkJggg==) 50% 50% no-repeat
}

.input__original_delete:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAdJJREFUOBGt071OAkEQAOC548+7A01QUWuNhQ9gYgLExAoqH8DGymhrq9Cp1DbyEFbGAiqMPoAd/iQ2GgPGxHAeIAqcM3vsHvdDQsEmcGHZ/W5mdlbSdd2ECQx5AgYjBNTHuF6/emO57T8T6nrfsZZBhJxXmnB0ZUC11nUscP8g5KzchPz1N7w37BczSJYApkIydLrWomrdH+PII/4fCkjsw18kUttLKrC5GrGwUhPc2A9GcloygJD5qAy5bJQ9PRBNuLGHuhU6Q8oGPH30YA6R44wTob2S+/ipF4q3Lag8/0IkKMHhlgaX922MxEJyiCRiIhEy2PBANEvYBWI3iFH96DBmNRnymI4fQnu8NE7iXtjdUGBGkRgi4cTOujISGQnR6RWw4I22ydIzMaLiXYvViDb5DU9ErAUGpxbHdArbMUivhIEKfoKnRgX3Gw5ouI8IyWNhF6dl2E+rAuMt4MYEJBDsbI4sIEKDakZYCiMbbkr25+CLrezhtSlg29P1iKvYbBkNOMIXMyylQnLZxl4+7TSDtDCA3NpSEGp4EXNZDdMJ8P2OJ7XCAUZG4w0veCJGvDUcfWR0+hCNiGz5Gs+T+oqKr4ZtyLFrHIRUimwYobl/T7jgIPI1jXwAAAAASUVORK5CYII=) 50% 50% no-repeat
}

.words_count{
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 18px;
    right: 38px;
    color: #999
}

.image_container{
    display: block;
    position:relative;
    height: 120px;
    width:100%;
    background-color: #130622;
    z-index: 0;

}

.target_copy{
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 18px;
    left: 18px;
    visibility: hidden;
    cursor:pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAWCAYAAAArdgcFAAAAAXNSR0IArs4c6QAAAMhJREFUOBHtlM0RBBEQhdnaNIQjB64S2YnEWQ7CEYIA7Dr0lu7xO2tu64L2+vPqlcJjjK+U0sE2D8758djMRLhb4U90Fdl471kIgVTbWyEEk1J+BV3nK+BMpPquc7BgjIFlc7bWns66cK31qWGlgOC/ZkwvRpnTzKiY7kd65Byar2YM/TAj51DcNf/h1SS3xOKcuw8O5Py3lKP6FEvBzFopVZVtiaVK/hSrzmufUAvQqyPnNLNeYz4b6ZHz8qMfgWfOkfOZhhXNG/BXK/EZ+76yAAAAAElFTkSuQmCC) 50% 50% no-repeat
}

.target_copy-hover,.target_copy:hover {
    cursor:pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAWCAYAAAArdgcFAAAAAXNSR0IArs4c6QAAANdJREFUOBFj/Pz5c/3///8bGKgMGBkZG5iobCaKcTQ1nAXFKjTO57xKht9HTqCJ4uay2lgw8E5qhyvA63JSDAaZiK4er8thThA6tx/GxEm/M3LEkMNruMCuNRgaSBFAMZzSMEa3GCXM0cMMXTE6n5B6FJfDNPNO64ExcdKfs0pwysEkUFwOE6QWPWo41pCkSrB8cA+hneEwk9lsLWBMMI01KaKoIIIjsBN7TqZKsOCyH6vLickguAxEFkdxOag8JgWghzG6XhSXIxf06ArJ4aO4nBwD8OkBAKfJLIzQd5MHAAAAAElFTkSuQmCC) 50% 50% no-repeat
}

.ad_delete{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 18px;
    right: 18px;
    
    cursor:pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAYNJREFUOBGtk72qwkAQhU9iVIw/vbXiIwQEtbHSyncVC60C+gD2voCGQNAmiGK8Z2CWbO4KFg5I4uzsxzkzE+92uxX4Qfg/YAjCgIqiQJZlX3Efjwf+nFi1AiIkjmOs12ucz2eroPqHkN1uh81mg+v1ao4F5Hke6vU6ns+nFF0uF1NQflEIz2u1mvz03FibTCYYjUYC2263qMII0Xyn08FyuQSfGgbExCeYKkmSRC4vFgsLwruea/z7/R6n0wlBEGA+n+N4PIpCKiCk2+3yrhVOECsUxv5xGO12W+y4IKy3rDGhMR6P0Wq1BEJYFEVOJVrvBHF6bGye52KPig6HA9ijT/EPpBBOjXZWqxWGwyF0ap9gFqi8R4Swsb1eD7PZzIJVV4MqDUgh3OwyRK2UYdzsKkxAr9dLNpqQMAyNEoXoczqdYjAYiE3C0jTVIwR8830f/X5fPkRuLO24gtOjMgY/8PIqWHt0v9/RbDZdDCvHKbL5jUbD5E2PmPkGwjoqK0OYewPmV+Tmqat5EwAAAABJRU5ErkJggg==) 50% 50% no-repeat
}

.ad_delete-hover{
    visibility: visible;
}

.image{
    display: block;
    height: 100%;
    width: auto;
    margin:auto;
    background: #ebebeb;
    background-image: url(../static/img/file.jpg);
    background-repeat:no-repeat;
    background-position:center;
}

.download{
    display: none;
    top: 0px;
    z-index: 5;
    font-size: 14px;
    color: rgb(7, 71, 209);
    text-align: center;
}


