<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head> 
    <link rel="stylesheet" type="text/css" href="../static/text.css">

    <script>
        window.onload = function()
        {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android","iPhone","SymbianOS","Windows Phone","iPad","iPod"];
            var flag = true;
            for(var v=0;v<Agents.length;v++)
            {
                if(userAgentInfo.indexOf(Agents[v])>0)
                {
                    flag=false;
                    break;
                }
            }
            if(!flag)
            {
                window.location.href="{{url_for('mobile')}}"
            }    
        }
		var xhr;

		function uploadFile() {
		  var fileObj = document.getElementById("select_file").files[0];
          var files = document.getElementById("select_file").files;
          if(files.length==0)
          {
            return;
          }
          document.getElementById("showProgress").style.display ="block";
          document.getElementById("progress_line").style.display ="block";
          document.getElementById("download").style.display = "none";

		  console.log(fileObj);
		  var form = new FormData();
		  form.append("file", fileObj);
		  form.append("source", "en");
		  form.append("target", "zh");

		  var url = "http://127.0.0.1:5555/translate_file";
		  xhr = new XMLHttpRequest();

          xhr.upload.addEventListener("progress", function(evt){
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                if (percentComplete == 100){
                    setTimeout(function () {
                    document.getElementById("showProgress").innerHTML = '上传完成，正在翻译...';
                    document.getElementById("progress_line").value=percentComplete;
                },10)
                }else{
                    document.getElementById("showProgress").innerHTML = '已上传'+percentComplete+"%";
                    document.getElementById("progress_line").value=percentComplete;
                }
             }else {
                document.getElementById("showProgress").innerHTML = '无法计算';
            }
            }, false);
		  xhr.open("post", url, true);
		  xhr.onload = uploadComplete;
		  xhr.send(form);
		}

		function uploadComplete(evt) {
			//alert(evt.target.responseText);
			res_json = JSON.parse(evt.target.responseText);
			if(res_json.error){
			  alert(res_json.error);
			  return;
			}
			//alert(res_json)
			//alert(res_json.translatedFileUrl);
			document.getElementById("download").style.display = "inline";
            document.getElementById("showProgress").innerHTML = '翻译完成';
			document.getElementById('download').innerHTML = "<a href=" + res_json.translatedFileUrl + ">下载翻译文件</a>";
		}
	</script>

    <title>YiMT Doc Translation</title>
</head>

<body>
    <div class="fanyi__nav">
        <div class="fanyi__nav__container">
            <a href="/" class="fanyi__nav__logo"></a>
            <div class="nav_left">
                <a target="_blank" class="nav" href="/">文本翻译</a><a target="_blank" class="nav" href="/">翻译API</a><a target="_blank" class="nav" href="/">登录</a>
            </div>
        </div>
    </div>

    <div class="restriction">
        <div class="fanyi__operations">
            <div class="fanyi__operations--left">
                <div id="toolbar">
    
                    <select id="source" name="source" class="source_select">
                        <option value="auto">自动检测</option>
                        <option value="zh">Chinese</option>
                        <option value="en">English</option>
                        <option value="ja">Japanese</option>
                        <option value="ko">Korean</option>
                        <option value="de">German</option>
                        <option value="vi">Vietnamese</option>
                        <option value="ru">Russian</option>
                        <option value="ar">Arabic</option>
                        <option value="es">Spanish</option>
                        <option value="fr">French</option>
                        <option value="pt">Portuguese</option>
                    </select>
                    <span class="mid">-></span>
                    <select id="target" name="target" class="target_select">
                        <option value="zh">Chinese</option>
                        <option value="en">English</option>
                        <option value="ja">Japanese</option>
                        <option value="ko">Korean</option>
                        <option value="de">German</option>
                        <option value="vi">Vietnamese</option>
                        <option value="ru">Russian</option>
                        <option value="ar">Arabic</option>
                        <option value="es">Spanish</option>
                        <option value="fr">French</option>
                        <option value="pt">Portuguese</option>
                    </select>
                    <input type="button" class="fanyi__operations--machine" id="transMachine" value="翻译" >
                </div>
    
            </div>
    
        </div>
    
        <div class="fanyi__input_file">
            <div class="input__original_file">
                <div style=" display: inline-block;padding-top:12pt;text-align:center; font-size: 14px;color: #818181;">点 击 上 传</div>
                <div class="input_area_file">
                    <div class="image_container">
                        <div class="image">
                        </div>
                        <input type="file" class="select_file" id="select_file" onchange="uploadFile()">
                    </div> 
                </div>             
                <div style=" padding-bottom:10px;text-align:center; font-size: 14px;color: #848484;">支持以下类型文档：txt、pdf、docx、pptx、html/html/xml 等</div>
            </div>
       
        </div>
        <progress id="progress_line" class="progress_line" value="0" max="100"> </progress>
        <a id="showProgress" style="display:none;text-align:center; font-size: 19px;color: #357aa1;z-index: 6;">11</a>

        <div style="padding-top:0pt;text-align:center;">
            <span id="download" class="download">下载链接link</span>
        </div>
    
        <div class="inside__products" style="display: block;">
            <div class="product1_area">
                <div class="product1_image">
                                      
                </div>
            </div>
            <div class="product2_area">
                <div class="product21_area">
                    <div class="product21_image">
    
                    </div>
                    <div class="product2_head">
                        翻译插件
                    </div>
                    <div class="product2_text">
                        简单好用的插件，支持Edge、Chrome等各类浏览器使用。
                    </div>
                </div>

                <div class="product22_area">
                    <div class="product22_image">
    
                    </div>
                    <div class="product2_head">
                        翻译APP
                    </div>
                    <div class="product2_text">
                        高效便携的手机翻译APP，支持各类安卓手机，功能强大。
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="fanyi__footer">
        <div class="bottom__nav" style="display: block;">
            <a target="_blank" class="nav2" href="/">成长计划</a><span class="c_fnl">|</span><a target="_blank" class="nav2" href="/">关于YIMT</a><span class="c_fnl">|</span><a target="_blank" class="nav2" href="/">官方博客</a>
            <p>Copyright 2021-2022 by Liu Xiaofeng</p>
        </div>   
    </div>
</body>
</html>
