body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: PingFangSC-Semibold,"Microsoft YaHei",Arial,sans-serif,Helvetica,STHeiti;
    color: rgb(40, 5, 5);
    letter-spacing: 0;
    color: #460a0a;
    background-color: #fff;
    min-width: 960px
}
.fanyi__nav__logo {
    display: block;
    position: absolute;
    left: 60px;
    top:0px;
    width: 340px;
    height: 72px;
    background: url(img/nav.jpg) no-repeat
}
.fanyi__nav__container {
    padding: 0 60px;
    min-width: 960px;
    max-width: 1400px;
    position:relative;
    margin: 0 auto
}
.restriction{
    margin-left: 60px;
    margin-right: 60px;
}

.fanyi__nav {
    position: relative;
    height: 72px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    min-width: 960px;
    margin-bottom: 38px
}
.nav_left{
    position:absolute;
    height: 72px;
    vertical-align: middle;
    padding-top: 30px;
    right: 58px;
}

.fanyi__operations {
    font-family: PingFang-SC-Regular;
    height: 38px;
    margin: 0 60px 18px 60px;
    margin:auto;
    max-width: 1400px;
    margin-bottom: 18px;
}

.fanyi__operations--left {
    float: left;
    font-size: 0;
    letter-spacing: 0;
    position: relative;
    z-index: 2
}

.target_select{
    position: relative;
    margin-left: 20px;
}
.source_select{
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    text-align: center;
    width: 148px;
    height: 38px;
    line-height: 38px;
    background: #ffffff;
    border-radius: 3px;
    font-size: 14px;
    cursor:pointer;
    color: rgb(39, 39, 39)
}
.target_select{
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    text-align: center;
    width: 148px;
    height: 38px;
    line-height: 38px;
    background: #ffffff;
    border-radius: 3px;
    font-size: 14px;
    cursor:pointer;
    color: rgb(39, 39, 39)
}
.mid{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-align: center;
    width: 8x;
    height: 38px;
    line-height: 38px;
    background: #ffffff;
    font-size: 19px;
    color: #357aa1;
    z-index: 2
}

.fanyi__operations--machine {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    text-align: center;
    width: 138px;
    height: 38px;
    background: #357aa1;
    border-radius: 3px;
    font-size: 14px;
    cursor:pointer;
    color: #fff;
    border:none
}

.fanyi__input {
    position: relative;
    margin: 0 60px;
    margin-top: 18px; 
    margin-bottom: 15px;
    margin:auto;
    max-width: 1400px;
    min-width: 960px;
    font-size: 0
}

.input__original {
    display: inline-block;
    background: #ebebeb;
    width: 99.999999%;
    font-size: 14px;
    vertical-align: top;
    border: none;
    border-radius: 3px;

    
}




.input_area{
    position: relative;
    height: 260px;
    margin-top: 10px;
    background: #ebebeb;
}
.select_file{
    opacity:0;/*透明关键*/
    position: absolute;
    height: 300px;
    width:100%;
    top:0px;
    left: 0px;
    background: #357aa1;
    font-size: 14px;
    color: #fff;
    border:none;
    cursor: pointer;
    z-index: 3;
}

.image_container{
    display: block;
    position:relative;
    height: 210px;
    width:100%;
    background-color: #130622;

}
/*img {
    display: block;
    position: absolute;
    max-height: 100%;
    margin:auto;
    
    z-index: 2;
  }
  */
.image{
    display: block;
    height: 100%;
    width: auto;
    margin:auto;
    background: #ebebeb;
    



    background-image: url(img/file.jpg);
    background-repeat:no-repeat;
    background-position:center;


}

.submit_button{
    display: inline-block;
    vertical-align: middle;

    text-align: center;
    width: 200px;
    height: 41px;

    margin-top: 15px;

    background: #ebebeb;
    border-radius: 3px;
    border: none;
    font-size: 19px;
    color: #848484;
}

.inside__products{
    display: block;
    font-family: PingFangSC-Semibold;
    border-top: 1px solid #e8e8e8;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 32px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    min-width: 960px;
    max-width: 1400px;
}

.product1_area{
    position: relative;
    margin: 0 0px;
    height: 140px;
    background-color: #e02433;
}
.product1_image{
    display: block;
    height: 100%;
    width: auto;
    margin:auto;
    background: #2c1600;
    
    background-image:url("https://s2.loli.net/2022/09/29/oxjrftBTCIvlk8F.png") ;
    background-repeat:no-repeat;
    background-position:center;
}
.product2_area{
    position: relative;
    margin: 0 0px;
    margin-top: 30px;
    height: 140px;
    background-color: #ffffff;
}
.product21_area{
    position: relative;
    float: left;
    display: block;
    height: 100%;
    width: 48%;
    background: #ffffff;
    
    background-repeat:no-repeat;
    background-position:center;

   
}

.product22_area{
    position: relative;
    float: right;
    display: block;
    height: 100%;
    width: 48%;
    background: #ffffff;
    background-repeat:no-repeat;
    background-position:center;
}
.product21_image{
    float: left;
    position: absolute;
    top:16px;
    bottom: 16px;
    left: 16px;
    width: 100px;
    background-color: #460a0a;
    background-image:url(img/ad2.png) ;
    background-repeat:no-repeat;
    background-size:100% 100%;/*图像布满关键*/

}
.product2_head{
    position: absolute;
    left:132px;
    top:26px;
    text-align: left;
    font-size: 19px;
    font-weight:bold;
    color: rgb(0, 0, 0);
}
.product2_text{
    position: absolute;
    left:132px;
    top:70px;
    padding-right: 20px;
    text-align: left;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.product22_image{
    float: left;
    position: absolute;
    top:16px;
    bottom: 16px;
    left: 16px;
    width: 100px;
    background-image:url(img/ad3.png) ;
    background-repeat:no-repeat;
    background-position:center;
    background-size:100% ;/*图像布满关键*/
}


.fanyi__footer {
    display: block;
    font-family: PingFangSC-Semibold;
    border-top: 1px solid #e8e8e8;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: #999;
    min-width: 960px
}
.bottom__nav{
    display: none;
    font-family: PingFangSC-Semibold;
   
    font-size: 14px;
    text-align: center;
    color: #999;
    min-width: 960px;
}
.nav{
    font-size: 14px;
    text-decoration:none;
    color: #999;
    white-space:pre;
}
