<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/text.css">

    <script>
        var end_point;
        var api_key;
        window.onload = function()
        {
            var json1=window.localStorage.getItem("data");
            var json2=window.localStorage.getItem("key");
            //alert(json1);
            //alert(json2);
            api_key=json2;
            if(json1=="")
            {
                end_point = "http://127.0.0.1:5555/translate";
                //alert(end_point);//
                //http://127.0.0.1:5555/api_key_get
            }
            else{
                end_point=jsonObj1;
            }
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android","iPhone","SymbianOS","Windows Phone","iPad","iPod"];
            var flag = true;
            for(var v=0;v<Agents.length;v++)
            {
                if(userAgentInfo.indexOf(Agents[v])>0)
                {
                    flag=false;
                    break;
                }
            }
            var tag=window.localStorage.getItem("tag");
            //alert(tag);
            if(!flag&&tag!="jump")
            {
                window.location.href="{{url_for('mobile')}}"
            }    
        }
        async function translate_func(){
            if(api_key=="")
            {
                alert("api-key为空！");
            }
            else
            {
                qstr = document.getElementById('q').value;
                qstr = qstr.trim();
                if(qstr.length==0) return;
                source_lang = document.getElementById('source').value
                target_lang = document.getElementById('target').value
                const res = await fetch(end_point, {
                    method: "POST",
                    body: JSON.stringify({q: qstr, source: source_lang, target: target_lang, format: "text",api_key:api_key}),
                    headers: { "Content-Type": "application/json" }
                }
                );
          
                trans_json = await res.json();
                document.getElementById('translation').value= trans_json.translatedText;
            }
        }
    </script>
    <title>YiMT Translation</title>
</head>

<body>
    <div class="mask" id="mask"></div>
    <div class="url_setting_block" id="url_setting_block" style="visibility: hidden;">
        <label style="font-size: 20px; color: rgb(130, 130, 130);position: absolute;left: 0px;top:30px;width: 100%;text-align: center;">翻译设置</label>
        <div style="position:absolute; top:50px;left: 30px;">
            <label style="font-size: 16px; color: rgb(130, 130, 130);position: absolute;left: 0px;top:45px;width: 200px;text-align: left;">服务器：</label>
            <input type="text" class="url" id="url" rows="1" cols="20"  wrap="off" style="position:absolute; width: 210px;height:21px;letter-spacing: 0px;font-size: 14px;top: 40px; left: 80px"></textarea>
        </div>
        <div style="position:absolute; top:130px;left: 30px;">
            <label style="font-size: 16px; color: rgb(130, 130, 130);position: absolute;left: 0px;top:0px;width: 200px;text-align: left;">API KEY：</label>
            <input type="text" class="api_key" id="api_key" placeholder="api_key" wrap="off" style="position:absolute;font-size: 14px;height:21px;width: 210px;top: 0px;left: 80px"></textarea>
        </div>
        <input type="button" class="url_setting_hide" style="cursor:pointer; position:absolute ;top:180px;left: 190px; height: 35px; width: 140px; background-color: #357aa1; border-radius: 3px;border:none;cursor:pointer;color: #ffffff;"  value="关闭" onclick="url_setting_hide_func()">
        <input type="button" class="url_button" id="url_button" style="position: absolute;top:180px;left: 30px ; height: 35px; width: 140px; background-color: #357aa1; border-radius: 3px;border:none;cursor:pointer;color: #ffffff;"  value="设置" onclick="url_resetting_func()">
    </div>
   
    <div class="fanyi__nav">
        <div class="fanyi__nav__container">
                <a href="/" class="fanyi__nav__logo"></a>
                <div class="nav_left">
                    <a target="_blank" class="nav" href="/">文本翻译</a><a target="_blank" class="nav" id="api_key_label">翻译API</a><a target="_blank" class="nav" href="/">登录</a><a target="_blank" id="url_setting_label" class="nav" >设置服务器地址</a>
                </div>  
        </div>
        <script>
            function url_setting_func()
            {
                document.getElementById("url_setting_block").style.visibility='visible';
                document.getElementById("mask").style.display='block';
                console.log("当前翻译地址为："+end_point);
                //alert("当前翻译地址为："+end_point);//这里测试显示当前翻译地址
                console.log("当前api_key为："+api_key);
                end_point = document.getElementById("url").value;
                if(end_point=="")
                {
                    document.getElementById("url").style.placeholder="http://127.0.0.1:5555/translate";
                }
            }
            
            function url_resetting_func()
            {
                end_point = document.getElementById("url").value;
                //var d=JSON.stringify();
                window.localStorage.setItem("data",end_point);
                var json=window.localStorage.getItem("data");
                
                document.getElementById("url_setting_block").style.visibility='hidden';
                document.getElementById("mask").style.display='none';

                var Api_key = document.getElementById("api_key").value;
                window.localStorage.setItem("key",Api_key);
                api_key=Api_key;

                alert("设置成功！url为："+json+"  api-key为:"+api_key);
            }
         
            function url_setting_hide_func()
            {
                document.getElementById("url_setting_block").style.visibility='hidden';
                document.getElementById("mask").style.display='none'
            }
            document.getElementById("url_setting_label").addEventListener("click", url_setting_func);
        </script>
    </div>

    <div class="restriction">
        <div class="fanyi__operations">
            <div class="fanyi__operations--left">
                <div id="toolbar">
                    <select id="source" name="source" class="source_select">
                        <option value="auto">自动检测</option>
                        <option value="zh">Chinese</option>
                        <option value="en">English</option>
                        <option value="ja">Japanese</option>
                        <option value="ko">Korean</option>
                        <option value="de">German</option>
                        <option value="vi">Vietnamese</option>
                        <option value="ru">Russian</option>
                        <option value="ar">Arabic</option>
                        <option value="es">Spanish</option>
                        <option value="fr">French</option>
                        <option value="pt">Portuguese</option>
                        <option value="ms">Malay</option>
                        <option value="hi">Hindi</option>
                    </select>
                    <span class="mid">-></span>
                    <select id="target" name="target" class="target_select">
                        <option value="zh">Chinese</option>
                        <option value="en">English</option>
                        <option value="ja">Japanese</option>
                        <option value="ko">Korean</option>
                        <option value="de">German</option>
                        <option value="vi">Vietnamese</option>
                        <option value="ru">Russian</option>
                        <option value="ar">Arabic</option>
                        <option value="es">Spanish</option>
                        <option value="fr">French</option>
                        <option value="pt">Portuguese</option>
                        <option value="ms">Malay</option>
                        <option value="hi">Hindi</option>
                    </select>
                    <input type="button" class="fanyi__operations--machine" id="transMachine" value="翻译文本" onclick='translate_func()'>

                </div>
            </div>
        </div>

        <div class="fanyi__input">
            <div class="input__original">
                <div class="fanyi__input__bg">
                    <textarea id="q" name="q" rows="20" maxlength="500" cols="50" class="input__original__area" placeholder="请输入您要翻译的文字"></textarea>

                    <script>
                        document.getElementById("q").oninput = function() {myFunction();getc_num()};
                        function myFunction() {
                            document.getElementById("inputDelete").style.visibility='visible';
                            document.getElementById("target_copy").style.visibility='visible';
                            document.getElementById("words_count").style.visibility='visible';
                            if(document.getElementById("q").value=='')
                            {
                                document.getElementById("inputDelete").style.visibility='hidden';
                                document.getElementById("target_copy").style.visibility='hidden';
                                document.getElementById("words_count").style.visibility='hidden';

                            }
                        }
                        function getc_num()
                        {
                            document.getElementById("c1").innerHTML=document.getElementById("q").value.length;
                        }         
                    </script>

                    <a id="inputDelete" class="input__original_delete"></a>
                    <div id="words_count" class="words_count" style="visibility: hidden;">
                        <span id="c1"></span>/500
                    </div>
                    <script>
                        function clear_func()
                        {
                            document.getElementById("q").value='';
                            document.getElementById("translation").value='';
                            getc_num();
                        }    
                        document.getElementById("inputDelete").addEventListener("click", clear_func);
                    </script>
                </div>
                
                <!--<input type="button" value="翻译文档" class="fanyi__operations--file" onclick="window.location.href='/file'">-->
            </div>

            <div class="input__target">
                <div class="fanyi__input__bg">
                    <textarea id="translation" name="translation" rows="20" cols="50" class="input__target__area"></textarea>
                    <a id="target_copy" class="target_copy"></a>
                </div>
                <script>
                    document.getElementById("target_copy").addEventListener("click", copy_func);
                    function copy_func()
                    { 
                        translation.select();
                        document.execCommand("Copy");
                    }
                    
                </script>
            </div>
        </div>
    
        <div class="inside__products" style="display: block;">
            <div class="product1_area">
                <div class="product1_image">
                                      
                </div>
            </div>
            <div class="product2_area">
                <div class="product21_area">
                    <div class="product21_image">

                    </div>
                    <div class="product2_head">
                        翻译插件
                    </div>
                    <div class="product2_text">
                        简单好用的插件，支持Edge、Chrome等各类浏览器使用。
                    </div>
                </div>
                <div class="product22_area">
                    <div class="product22_image">

                    </div>
                    <div class="product2_head">
                        翻译APP
                    </div>
                    <div class="product2_text">
                        高效便携的手机翻译APP，支持各类安卓手机，功能强大。
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fanyi__footer">
        <div class="bottom__nav" style="display: block;">
            <a target="_blank" class="nav2" href="/">成长计划</a><span class="c_fnl">|</span><a target="_blank" class="nav2" href="/">关于YIMT</a><span class="c_fnl">|</span><a target="_blank" class="nav2" href="/">官方博客</a>
            <p>Copyright 2021-2022 by Liu Xiaofeng</p>
        </div>   
    </div>

</body>
</html>